/* Common styles for both Technical Skills and Technologies sections */

.skills__content {
    margin-bottom: 20px;
  }
  
  .skills__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .skills__box {
    display: flex;
    justify-content: center;
  }
  
  .skills__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust alignment based on your preference */
    gap: 20px; /* Adjust spacing between skill/tool icons */
    width: 70%; /* Adjust width as per your design */
    margin: auto; /* Center align horizontally */
  }
  
  .skills__data {
    width: 100px; /* Adjust width of each skill/tool icon container */
    height: 100px; /* Maintain aspect ratio */
    margin: 10px;
  }
  
  .skills__data img {
    width: 100%; /* Make the image fill its container */
    height: auto; /* Maintain aspect ratio */
  }
  